@import "biz_module/app_vertical";
@import "biz_module/system";

.pmt-main-section {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }
}

.daterange-span-wrapper {
    border: 1px solid;
    padding: 8px 5px;
    margin-right: 10px;
}

.pmt-content-wrapper {
    width: 640px;
    float: right;
    position: relative;
    .fr-opbar {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

// fixed for formly components
.pmt-form-row {
    margin-bottom: 15px;
}


// rewrite bootstrap?!
body {
    padding-top: 0;
}

// specific for oem
.oem-top-nav {
    clear: none;
    .main-nav {
        float: right;
        .nav-item {
            line-height: 80px;
            &.active {
                background-color: #3baa24;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.meta-header {
    margin-top: 20px;
    padding: 0 20px;
}