@import "biz_module/app_vertical";
@import "biz_module/system";

.mini-select {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    height: 30px;
    padding: 4px;
}

a.w-btn {
    text-decoration: none;
    color: #000;
}

.btn-primary {
    background-color: #3baa24;
    border-color: #2f7c2f;
}
.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #3baa24;
    border-color: #549954;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #3baa24;
    border-color: #549954;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #3baa24;
    border-color: #549954;
}

.pmt-main-section {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }
}
.pmt-account-field {
    margin-left: 20px;
}
.pmt-loader-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: none;
    z-index: 9999;
    top: 0;
    left: 0;
    cursor: wait;

    .pmt-loader.outer {
        z-index: 10001;
    }
}

.daterange-span-wrapper {
    border: 1px solid;
    padding: 8px 5px;
    margin-right: 10px;
}

.pmt-content-wrapper {
    width: 640px;
    float: right;
    position: relative;
    .fr-opbar {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

pmt-notices {
  position: absolute;
  z-index: 99999;
  right: 10px;
  margin-top: -40px;
  top: 0;
  bottom: initial;

  .notice {
    margin-bottom: 2px;
  }
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

// fixed for formly components
.pmt-form-row {
    margin-bottom: 15px;
}


// rewrite bootstrap?!
body {
    padding-top: 0;
}

// specific for oem
.oem-top-nav {
    clear: none;
    .main-nav {
        float: right;
        .nav-item {
            line-height: 80px;
            &.active {
                background-color: #3baa24;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.meta-header {
    margin-top: 20px;
    padding: 0 20px;
}