@mixin icon-sprite($sprite) {
    background-image: sprite-url($icon);
    background-position: sprite-position($icon, $sprite);
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
        background-image: sprite-url($icon-2x);
        $path: "#{sprite-path($icon-2x)}";
        background-size: (image-width($path) / 2) (image-height($path) / 2);
        background-position: round(nth(sprite-position($icon-2x, $sprite), 1) / 2) round(nth(sprite-position($icon-2x, $sprite), 2) / 2);
    }
}