/* icon
 ========================================================================== */
$icon: sprite-map("icon/*.png", $spacing: 4px);
$icon-2x: sprite-map("icon-2x/*.png", $spacing: 4px);

@mixin icon-sprite($sprite) {
    background-image: sprite-url($icon);
    background-position: sprite-position($icon, $sprite);
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
        background-image: sprite-url($icon-2x);
        $path: "#{sprite-path($icon-2x)}";
        background-size: (image-width($path) / 2) (image-height($path) / 2);
        background-position: round(nth(sprite-position($icon-2x, $sprite), 1) / 2) round(nth(sprite-position($icon-2x, $sprite), 2) / 2);
    }
}

.pmt-icon-network-teaser0 {
    @include icon-sprite('network-teaser0');
    display: inline-block;
    vertical-align: top;
}

.pmt-icon-network-teaser1 {
    @include icon-sprite('network-teaser1');
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-network-teaser2 {
    @include icon-sprite('network-teaser2');
    display: inline-block;
    vertical-align: top;
}

.pmt-icon-add {
    @include icon-sprite('white-add');
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-business {
    @include icon-sprite('white-business');
    width: 24px;
    height: 21px;
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-person {
    @include icon-sprite('white-person');
    width: 11px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-gray-business {
    @include icon-sprite('gray-business');
    width: 24px;
    height: 21px;
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-gray-person {
    @include icon-sprite('gray-person');
    width: 11px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-gray-edit {
    @include icon-sprite('gray-edit');
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
}
.pmt-icon-edit {
    @include icon-sprite('white-edit');
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
}