.pmt-standard-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0;
    table-layout: fixed;

    tr:nth-child(odd) {
        td, th {
            background: #fafafa;
        }
    }
    th, td {
        padding: 10px 5px;
        line-height: 20px;
        border: 1px solid $borderColor;
        word-wrap: break-word;
    }
}

.pmt-info-table {
    min-width: 550px;
    margin: 20px 0;
    background-color: #fafafa;
    color: #777;

    td {
        padding: 0 20px;
        line-height: 40px;
    }
}