<div class="control-group">
    <label class="control-label" for="{{options.key}}">
        {{options.label|capitalize}} {{options.required ? '*' : ''}}
    </label>
    <div class="controls" ng-switch on="options.type">
        <input ng-switch-default
            placeholder="{{options.placeholder||options.label}}"
            id="{{options.key}}" name="{{options.key}}"
            type="{{options.type || 'text'}}">
        <select ng-switch-when="select" name="{{options.key}}">
            <option value="" ng-if="options.nullText">-- {{options.nullText}} --</option>
        </select>
        <textarea ng-switch-when="textarea" name="{{options.key}}"
            placeholder="{{options.placeholder||options.label}}"></textarea>
    </div>
</div>