<div class="modal-header">
    <button type="button" class="close" ng-click="$close()"
        data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
    <formly-form fields="formFields" key="{{formName}}"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" ng-click="$close()">
        取消
    </button>
    <button class="btn btn-primary"
        formly-submit="{{formName}}" ng-click="submit()">
        提交
    </button>
</div>