<div ng-controller="configApkCtrl">
    <h2>替换 APK 包</h2>
    <p>*上传定制版的应用 APK 包，替换掉豌豆荚上该应用的默认安装包</p>

    <h3>上传 APK</h3>

    <!-- status btn -->
    <button ng-file-select class="w-btn" ng-model="myFiles" accept=".apk">上传</button>
    <!-- status uploading -->
    <div class="pmt-upload-progress">
        <div class="pmt-upload-progress-wrapper">
            <div class="progress-ctn">
                <div class="pmt-progress pmt-progress-striped pmt-active">
                    <div class="pmt-progress-bar pmt-progress-bar-success"
                        style="width: 50%">
                        <!-- {{ $root.vm.uploadedSize/$root.vm.totalSize|percentage }} -->
                    </div>
                </div>
                <div class="status">
                    <span class="speed">{{ $root.vm.uploadedSize|humanBytes }}/{{ $root.vm.totalSize|humanBytes }}</span>
                </div>
            </div>
            <div class="progress-cancel">
                <button class="w-btn" ng-click="cancelApkupload()">取消</button>
            </div>
        </div>
    </div>
    <!-- status uploaded -->
    <table style="width: 450px;line-height: 30px;">
        <tr>
            <td class="title" style="width: 60px;">包名</td>
            <td class="pn">
                {{apkBean.packageName||'com.xx.xxx'}}
            </td>
        </tr>
        <tr>
            <td class="title">版本号</td>
            <td class="code">
                {{$root.vm.apkBean.versionCode||'23.23'}}
            </td>
        </tr>
    </table>


    <!-- <p><button pmt-upload-button pmt-file-upload-field open-package-upload
        endpoint="open.oemPkg" class="w-btn pmt-upload-btn"
        uploader="{success: oemPkgSuccessHandler, notify: oemPkgNotifyHandler, add: oemPkgAddHandler}">上传</button>
        <span>{{channelPkgUploadStatus}}</span>
        <span class="w-text-warning">{{$root.vm.oemPkgWarning}}</span>
        &nbsp;&nbsp;您上传过的应用：
    </p> -->

    <h3>已上传的 APK 包</h3>
    <table class="pmt-standard-table">
        <tr>
            <th>应用名称</th>
            <th>APK 包名</th>
            <th>版本</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="apk in currentConfig.oemApks">
            <td>{{apk.title}}</td>
            <td>{{apk.packageName}}</td>
            <td>{{apk.versionName}}</td>
            <td><a ng-href="{{apk.downloadUrl}}" target="_blank">下载</a>&nbsp;&nbsp;<a ng-click="deleteApk(apk)">删除</a></td>
        </tr>
    </table>
</div>