<div ng-controller="configBannerCtrl" ng-init="mode='index'">
    <div ng-show="mode=='index'" class="config-page">
        <header>
            <p class="header-title">您已经上传的 Banner 和位置信息如下</p>
            <div class="header-actions">
                <a class="w-btn" ng-click="addBannerHandler()">添加新 banner</a>&nbsp;&nbsp;
                <a class="w-btn" ng-click="mode = 'position'">调整 banner 顺序</a>
            </div>
        </header>
        <div pmt-include="templates/app_vertical/partials/banner-table.html"></div>
    </div>

    <div ng-show="mode=='position'" class="config-page">
        <header>
            <div class="header-title pmt-form pmt-form-controls">
                选择您要调整的 Banner 区域
                <select ng-model="currentBannerPosition"
                    ng-options="i.alias as i.name for i in authorizedBean.authorizedLevel2.banner"></select>
            </div>
            <div class="header-actions">
                <a class="w-btn w-btn-primary" ng-click="updatePosition()">更新</a>&nbsp;&nbsp;
                <a class="w-btn" ng-click="mode = 'index'">取消</a>
            </div>
        </header>
        <div pmt-include="templates/app_vertical/partials/banner-table.html"></div>
    </div>

    <!-- adder form or adder mode page -->
    <div ng-show="mode=='edit'">
        <div pmt-include="templates/app_vertical/partials/banner-form.html"></div>
    </div>
</div>
