<div ng-controller="configApkCtrl">
    <h2>替换 APK 包</h2>
    <p>*上传定制版的应用 APK 包，替换掉豌豆荚上该应用的默认安装包</p>

    <h3>上传 APK</h3>
    <!-- <p><button pmt-upload-button pmt-file-upload-field open-package-upload
        endpoint="open.oemPkg" class="w-btn pmt-upload-btn"
        uploader="{success: oemPkgSuccessHandler, notify: oemPkgNotifyHandler, add: oemPkgAddHandler}">上传</button>
        <span>{{channelPkgUploadStatus}}</span>
        <span class="w-text-warning">{{$root.vm.oemPkgWarning}}</span>
        &nbsp;&nbsp;您上传过的应用：
    </p> -->

    <h3>已上传的 APK 包</h3>
    <table class="pmt-standard-table">
        <tr>
            <th>应用名称</th>
            <th>APK 包名</th>
            <th>版本</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="apk in currentConfig.oemApks">
            <td>{{apk.title}}</td>
            <td>{{apk.packageName}}</td>
            <td>{{apk.versionName}}</td>
            <td><a ng-href="{{apk.downloadUrl}}" target="_blank">下载</a>&nbsp;&nbsp;<a ng-click="deleteApk(apk)">删除</a></td>
        </tr>
    </table>
</div>