<div ng-switch on="$parent.currentConfigType" ng-controller="configCtrl">
        <div ng-switch-when="channel" ng-controller="configChannelCtrl">
            <div ng-include="'templates/app_vertical/config-index.html'"></div>
        </div>

        <div ng-switch-when="banner" ng-controller="configBannerCtrl">
            <div ng-include="'templates/app_vertical/config-banner.html'"></div>
        </div>

        <div ng-switch-when="app"  ng-controller="configAppCtrl">
            <div ng-include="'templates/app_vertical/config-app.html'"></div>
        </div>

        <div ng-switch-default ng-controller="configGeneralCtrl">
            <div ng-include="'templates/app_vertical/config-general.html'"></div>
        </div>
</div>