<div ng-controller="configColumnCtrl">
    <h2>管理栏目位置</h2>
    <p>管理新开栏目位置里的应用内容</p>
    <div>
        <div ng-show="!columns.length">
            <p> 暂未开设新栏目位置</p>
        </div>

        <div>
            <p>选择新开设的栏目位置</p>
            <!-- columns list -->
            <span class="pmt-btn-dropdown" dropdown>
                <button class="btn-dropdown w-btn">
                    {{topAppType.name}}
                    <span class="caret"></span>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in authorizedBean.authorizedLevel2.topApp"
                            ng-click="$parent.topAppType = i;">
                            <a>{{i.name}}</a>
                        </li>
                    </ul>
                </button>
            </span>

            <p>填写栏目中的应用</p>
            <p>请输入应用包名，以换行分隔，包名顺序即应用展示的顺序</p>
            <form class="pmt-form">
                <div class="pmt-form-row big-textarea-row">
                    <div class="pmt-form-controls">
                        <textarea ng-model="topApptextareaVal"
                            text-area-elastic required placeholder="{{holderText}}"></textarea>
                    </div>
                </div>

                <button class="w-btn w-btn-primary"
                    ng-click="saveBdConfigHandler()">保存</button>
            </form>
        </div>
    </div>
</div>