<!-- Todo: move configCtrl link to route -->
<!-- Remove: extra wrapper div -->
<div ng-controller="idxCtrl">
    <ul class="pmt-sidebar-nav">
        <li ng-repeat="item in authorizedBean.authorizedLevel1|filter:{'selected':true}">
            <a class="nav-item" ng-click="changeConfType(item.alias)"
            ui-sref-active="active" ng-if="item.alias!='viewReport'">
            {{item.name}}
            </a>
        </li>
    </ul>
    <div style="width: 640px;float: right;" ui-view="config">
    </div>
</div>