<!-- Todo: use layout master for app_vertical and data module -->
<!-- Todo: move configCtrl link to route -->
<!-- Remove: extra wrapper div -->
<div ng-controller="configIdxCtrl">
    <ul class="pmt-sidebar-nav">
        <li>
            <a ui-sref="data.index" class="item" ui-sref-active="active">
                查看数据
            </a>
        </li>
        <li>
            <a ui-sref="data.appDownload" class="item" ui-sref-active="active">
                应用下载数据
            </a>
        </li>
    </ul>
    <div class="pmt-content-wrapper">
        <div ui-view></div>
    </div>
</div>