<div>
    <h2>管理账户权限</h2>
    <p class="text-mute">管理运营账户的权限</p>
    <div>
        <h3>已有账户列表</h3>
        <button class="w-btn" ng-click="$root.onSet('auth', null, this)">添加新账户</button>

        <table class="pmt-standard-table">
            <tr>
                <td ng-repeat="i in ['账户', '账户角色', '所属 OEM/API', '操作']">{{i}}</td>
            </tr>
            <tr ng-repeat="item in authList">
                <td>{{item.email}}</td>
                <td>{{item.group.name}}</td>
                <td>
                    {{item.authorizedOem|joinArr:'configName:,'}}
                </td>
                <td>
                    <a ng-click="$root.onSet('auth', item)">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a ng-click="$root.onDel('auth', item, this)">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </table>

        <div class="pmt-pagination-wrapper">
            <pagination total-items="authTotalNum"
                ng-model="authPage" class="pagination-sm">
            </pagination>
        </div>
    </div>
</div>