<div>
    <h2>管理 OEM / API</h2>
    <tabset>
        <tab heading="OEM 合作方">
            <button class="w-btn"> 添加 OEM 合作方</button>
            <div s-table row-list="tableData"
                head-list="['合作方名称', '合作方 ID', '渠道数量', '操作']">
            </div>
        </tab>
        <tab heading="API 合作方">
            <button class="w-btn"> 添加 API 合作方</button>
            <div s-table row-list="tableData"
                head-list="['合作方名称', '合作方 ID', '接口访问次数限制', '操作']">
            </div>
        </tab>
    </tabset>
</div>