<script type="text/ng-template" id="system/channel-list-snippet.html">
<div class="pmt-form-controls">
    <button class="w-btn" ng-click="$root.onAdd('channel', null, this)"> 添加 OEM 渠道</button>
    <table class="pmt-standard-table">
        <tr>
            <td ng-repeat="i in ['渠道名称', '渠道 User Source', '操作']">{{i}}</td>
        </tr>
        <tr ng-repeat="item in formlyData.bdSourceDetails">
            <td>{{item.sourceName}}</td>
            <td>{{item.sourceAlias}}</td>
            <td>
                <a ng-click="$root.onEdit('channel', item, this)">
                    <i class="icon-edit"></i>
                </a>
                <a ng-click="$root.onDel('channel', item, this)">
                    <i class="icon-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
</script>

<script type="text/ng-template" id="system/api-partner-interfaces-snippet.html">
<div class="pmt-form-controls">
    <div class="pmt-form-checkbox" ng-repeat="(pKey, pVal) in $root.tokenMeta.candidatePrivileges">
        <label>
            <input type="checkbox" ng-model="formlyData.privileges[pKey]">
            {{pVal}}
        </label>
    </div>
</div>
</script>

<script type="text/ng-template" id="auth/available-partner-list-snippet.html">
<div class="pmt-form-controls">
    <label><input type="checkbox" ng-model="formlyData.isSelectAllOems">全选</label>
    <div class="pmt-checkbox-options">
        <label ng-repeat="oem in formlyData.authorizedOem">
            <input type="checkbox" ng-model="oem.selected">
            {{oem.configName}}
        </label>
    </div>
</div>
</script>

<script type="text/ng-template" id="auth/available-authorizeditem-list-snippet.html">
<div class="pmt-form-controls">
    <div class="pmt-checkbox-options">
        <label ng-repeat="(pKey, pVal) in formlyData.authorizedItems.authorizedLevel1"
            style="display: block">
            <input type="checkbox" ng-click="selectAuthorizedLevel1(pKey, pVal)"
                ng-checked="pVal.selected">
            {{pVal.name}}
            <div ng-if="formlyData.authorizedItems.authorizedLevel2[pKey]"
                style="margin-left: 30px;">
                <label ng-repeat="_pVal in formlyData.authorizedItems.authorizedLevel2[pKey]">
                    <input type="checkbox" ng-checked="_pVal.selected"
                        ng-click="selectAuthorizedLevel2(_pVal, pVal, formlyData.authorizedItems.authorizedLevel2[pKey])">
                    {{_pVal.name}}
                </label>
            </div>
        </label>
    </div>
</div>
</script>
