<!DOCTYPE html>
<html>
    <head>
        <title>访问页面不存在 - 豌豆荚开发者中心</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="http://s.wdjimg.com/style/css/base/reset.css" />
    </head>
    <body>
        <style>
            .w{width:400px;margin:50px auto;font-size: 12px;color:#999;font-family: Arial,Microsoft Yahei;}
            .l{float: left;margin-right: 50px;}
            .t{line-height: 1.5;padding-top: 12px;overflow: hidden;}
            h3{font-size: 16px;}
            .f{border: 1px solid #ddd;background: #f7f7f7;width: 300px;margin:50px 0;text-align: center;
                padding: 20px;}
            .f a{
                color: inherit;
            }
        </style>
        <div class="w">
            <a href="/" class="l"><img src="http://s.wdjimg.com/style/images/www/icons/logo.png" width="100" /></a>
            <div class="t">
                <h3>404 Not Found</h3>
                <p>对不起，您访问的页面不存在</p>
            </div>
            <div class="f">
                <p><a href="http://open.wandoujia.com">回到开发者中心首页</a></p>
            </div>
        </div>
    </body>
</html>